* {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;
}

#size {
  height: 30px;
  width: 30px;
  /* padding: 0px; */
}

.logo-text {
  border: black;
  height: 50px;
}
nav{
  position: fixed;
  height: 50px;
  width: 100%;
  background: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  /* padding: 1px; */
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  margin-left: 50px;
}

nav ul li {
  margin: 0 20px;
}

.background {
  /* margin-bottom: 500px; */
  /* height: 600px; */

  background: yellow;
}

.picture {
  height: 400px;
  width: 400px;
}

h2 {
  padding: 70px;
  margin-left: 500px;
  /* margin-top: 100px; */
  font-size: 50px;
}
.button-1 {
  background: white;
  color: black;
  margin-left: 600px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 13px 26px;
  /* border-color: black; */
  border-style: none;
  cursor: pointer;
}

#last ul  {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background: black;
  color: white;
  height: 50px;
  padding: 10px;
  list-style: none;
}
#last ul li{
  margin-left: 100px;
  font-size: small;
}

#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#bottom-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#bottom-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bottom-container div ul li,#option{
  color:rgba(85, 81, 81, 0.596);
  cursor: pointer;
}
#bottom-container div ul li:hover{
  color: black;
}
#bottom ul {
  list-style: none;
  margin-left: auto;
}

#bottom ul li {
  margin: 10px 0;
}

#bottom div ul {
  padding: 10px;
  display: inline;
}

#option{
  position: relative;
  left: -900px;
  padding: 4%;
  border-radius: 0.4em;
  width: 200px;
  cursor: pointer;
  }
h4{
  position: relative;
  left:-950px;
  margin-bottom: 5px;
}