* {
  margin: 0;
  padding: 0;
}

#size {
  height: 30px;
  width: 30px;
  padding: 0px;
}

.logo-text {
  border: black;
}

nav ul li {
  display: inline;
  margin: 0 20px;
  font-weight: 600;
  font-family: sans-serif;
}

.background {
  background: yellow;
}

.picture {
  height: 400px;
  width: 400px;
}

h2 {
  padding: 20px;
  margin-left: 500px;
}
.button-1 {
  background: white;
  color: black;
  margin-left: 600px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 13px 26px;
  /* border-color: black; */
  border-style: none;
  cursor: pointer;
}

#last {
  background: black;
  color: white;
  height: 30px;
  padding: 20px;
}

#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#bottom-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#bottom-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bottom-container div ul li,#option{
  color:rgba(85, 81, 81, 0.596);
}

#bottom ul {
  list-style: none;
  margin-left: auto;
}

#bottom ul li {
  margin: 10px 0;
}

#bottom div ul {
  padding: 10px;
  display: inline;
}

#option{
  position: relative;
  left: -900px;
  padding: 4%;
  border-radius: 1em;
  width: 200px;
  }